@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

body {
  /* font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "IBM Plex Sans", sans-serif;
  background-color: black;
}

/* ::-webkit-scrollbar {
  display: none;
} */


html {
  font-size: 16px; /* base size for rem/em scaling */
  -webkit-text-size-adjust: 100%; /* prevent iOS/Brave text scaling */
}
